<nav class="site-nav" aria-label="Primary">
  <div class="shell">
    <ul class="site-nav-list">
      <li class="site-nav-item"><a class="site-nav-link" data-route="/" href="{{ '/' | relative_url }}">Main</a></li>
      <li class="site-nav-item"><a class="site-nav-link" data-route="/projects/" href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li class="site-nav-item"><a class="site-nav-link" data-route="/resume/" href="{{ '/resume/' | relative_url }}">Resume</a></li>
      <li class="site-nav-item"><a class="site-nav-link" data-route="/posts/" href="{{ '/posts/' | relative_url }}">Posts</a></li>
    </ul>
  </div>
</nav>
